#guests-container {
    width: 250px;
    position: fixed;
    height: 86vh;
    top: 81px;
    left: 21px;
    background-color: var(--color-three);
    border-radius: 25px;
    overflow: hidden;
}

#guests-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.guest-info {
    position: relative;
    background-color: rgb(20, 20, 20);
    margin: 0px 0px;
    padding: 10px;
}

.guest-info div {
    display: flex;
    justify-content: flex-start;
    /* align-content: center; */
    align-items: center;
    gap: 6px;
}

.guest-info h3 {
    display: inline-block;
    margin: 0;
    margin-block: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
}

.guest-status {
    position: absolute;
    right: 20px;
    top: 20px;
}

#room-input-guess {
    display: block;
    font-size: 1.2em;
}

.copy-link-container {
    position: absolute;
    padding: 10px;
    left: 87%;
    top: 90%;
}

.copy-link-container div {
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 8px;
    overflow: hidden;
}

.copy-link-container div > * {
    padding: 8px;
}

.copy-link-container span {
    font-weight: bold;
    /* border-radius: 8px; */
}

.copy-link-container button {
    background-color: rgba(200, 200, 200, 0);
    border: 0;
    border-left: 1px solid rgb(128, 128, 128);
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.copy-link-container button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.hide-blur {
    filter: blur(0.4rem);
}