#room {
    display: flex;
    height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    margin-bottom: 50px;
}

#room #audio-ui {
    width: 80%;
    box-sizing: border-box;
}

#room #audio-ui > .progress-wrapper {
    width: 100% !important;
}

#room #audio-ui .volume-values-wrapper {
    z-index: 998;
}

#room #audio-ui button {
    z-index: 999;
}

#guests-container {
    width: 300px;
    height: 86vh;
    /* background-color: var(--color-three); */
    border-radius: var(--border-container-radius);
}

#guests-container::before {
    background: #006CF8;
}

#guests-container > div {
    padding: 20px 30px;
    /* background-color: var(--color-one); */
}

#guests-container > .header-container {
    padding: 0;
    color: white;
    background: #5A44D9;
    height: 63px;
}

#scoreboard {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

#scoreboard li {
    /* background-color: rgb(20, 20, 20); */
    justify-content: center;
    align-items: center;
    align-content: center;
}

#scoreboard .guest-info h3 {
    font-size: 1em;
}

#scoreboard .btn-kick {
    width: 36px;
    height: 63px;
}

#scoreboard button {
    border: 0;
    padding: 0;
    width: 36px;
    height: 63px;
    cursor: pointer;
    background-color: rgb(158, 26, 53);
    transition: 0.2s;
}

#scoreboard button:hover {
    background-color: rgb(119, 19, 39);
}

#scoreboard .crown {
    width: 36px;
}

#scoreboard .crown svg {
    color: gold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#scoreboard button svg {
    transition: transform 0.2s;
}

#scoreboard button:hover svg {
    transform: scale(1.1);
}

.game-container {
    width: 50%;
    height: 86vh;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* padding: 0px 10px; */
    margin: 0 10px;
    /* border-radius: 25px; */
    /* background-color: var(--color-three); */
    
    position: relative;
    overflow: hidden;
}

#game-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.timer {
    position: absolute;
    height: 24px;
    width: 100%;
    top: 0px;
    background-color: rgba(180, 180, 180, 0.301);
    /* filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5)); */
    /* animation: start_timer 30s infinite ease-out; */
}

.timer-start {
    animation: start_timer 30s forwards ease-out;
}

.timer-goback {
    animation: go_back_timer 5s forwards linear;
}

@keyframes start_timer {
    from {
        width: 0%;
        background-color: rgba(255, 255, 255, 0.75);
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
    }
    to {
        width: 100%;
        background-color: rgba(255, 0, 0, 0.75);
        filter: drop-shadow(0 0 0.75rem rgba(255, 0, 0, 0.75));
    }
}

@keyframes go_back_timer {
    from {
        width: 100%;
        background-color: rgba(255, 0, 0, 0.75);
        filter: drop-shadow(0 0 0.75rem rgba(255, 0, 0, 0.75));
    }
    to {
        width: 0%;
        background-color: rgba(255, 255, 255, 0.75);
        filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.5));
    }
}

.game-container .difficulty-container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.game-container .difficulty-container > * {
    padding: 10px 20px;
}

.game-container .difficulty-container h2 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-two);
    font-size: 1em;
    margin: 0;
    opacity: 0.5;
}

.game-container .difficulty-container span {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
    width: 35%;
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 255, 0, 0.3);
    /* filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7)); */
}

#room-input-guess {
    display: block;
    font-size: 1.2em;
    width: 50%;
}

.right-wrapper {
    gap: 10px;
    height: 86vh;
}

.right-wrapper .container::before {
    transform: translate(5px, -5px);
}

.right-wrapper .container:hover::before {
    transform: translate(10px, -10px);
}

.copy-link-container {
    order: 0;
    padding: 10px 0px;
    align-self: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* 
.copy-link-container::before {
    content: none;
} */

.copy-link-container div {
    width: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 8px;
    overflow: hidden;
}

.copy-link-container div > * {
    padding: 8px;
}

.copy-link-container span {
    font-weight: bold;
}

.copy-link-container button {
    background-color: rgba(200, 200, 200, 0);
    border: 0;
    border-left: 1px solid rgb(128, 128, 128);
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.copy-link-container button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.hide-blur {
    filter: blur(0.4rem);
}

.game-container > .dropdown-input-container {
    position: relative;
    width: 80%;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    z-index: 997;
}

.dropdown-input-container > #title-input {
    width: 100% !important;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-bottom: 8px;
}

.game-container > .dropdown-input-container > .dropdown {
    position: absolute;
    background: none;
    min-height: 100%;
    width: 100%;
    left: 0;
    top: calc(100% + 1px);
    z-index: 998;
}

.game-container > .dropdown-input-container > .dropdown ul {
    background-color: var(--color-two);
    width: 100%;
}

.chat-container {
    flex-grow: 1;
    width: 300px;
    padding: 0;
}

.chat-container > .header-container {
    color: white;
    background: #00b7ff;
}

.chat-container::before {
    /* content: none; */
    background: #7685E4;
}

#chat {
    flex-grow: 1;
    background-color: rgba(156, 156, 156, 0.1);
    overflow-y: auto;
    flex-direction: column-reverse;
    max-height: 431.5px;
}

.chat-message {
    overflow-x: hidden;
}

.chat-message span {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-container span > span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
}

.chat-container span > h3 {
    margin-right: 5px;
}

.chat-message span > p {
    max-width: 280px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-message span > img {
    margin: 0px 2px;
}

#chat li {
    padding: 10px;
}

#chat ul {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

#chat h2 {
    font-size: 1.2em;
    margin: 0;
    color: rgb(128, 128, 128);
}

.chat-textbox-container {
    position: relative;
    min-height: 80px;
    padding: 8px;
}

.chat-textbox-container > span {
    position: absolute;
    opacity: 0.1;
    z-index: -999;
    transform: translate(-50%, -50%) scale(2.4);
    top: 55%;
    left: 50%;
}

.chat-textbox-container > textarea {
    font-size: 1em;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 4px;
    outline-width: 2px;
    padding: 5px;
    resize: none;
    z-index: 999;
}

textarea:focus + span {
    opacity: 0;
}