#guests-container {
    width: 300px;
    height: 86vh;
    background-color: var(--color-three);
    border-radius: 25px;
    overflow: hidden;
    /* display: flex;
    flex-direction: column; */
}

#guests-container > div {
    padding: 20px 30px;
    background-color: var(--color-one);
}

#guests-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

#guests-container ul li {
    background-color: rgb(20, 20, 20);
    justify-content: center;
    align-items: center;
    align-content: center;
}

#guests-container .btn-kick {
    /* display: none; */
    width: 36px;
    height: 63px;
}

#guests-container button {
    border: 0;
    padding: 0;
    /* background: none; */
    width: 36px;
    height: 63px;
    cursor: pointer;
    /* transform-style: preserve-3d; */

    background-color: rgb(158, 26, 53);
    transition: 0.2s;

    /* display: grid;
    place-content: center; */
}

#guests-container button:hover {
    background-color: rgb(119, 19, 39);
}

#guests-container .crown {
    width: 36px;
}

#guests-container .crown svg {
    color: gold;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* #guests-container button::before {
    content: "";
    position: absolute;
    transform: translateZ(-1px);
    width: 100%;
    height: 100%;
    background-color: rgb(158, 26, 53);
    transition: 0.2s;
}

#guests-container button:hover::before {
    background-color: rgb(119, 19, 39);
} */

#guests-container button svg {
    transition: transform 0.2s;
}

#guests-container button:hover svg {
    transform: scale(1.1);
}

.guest-info {
    position: relative;
    margin: 0px 0px;
    padding: 10px;
    flex-grow: 1;
}

.guest-info div {
    display: flex;
    justify-content: flex-start;
    /* align-content: center; */
    align-items: center;
    gap: 6px;
}

.guest-info h3 {
    display: inline-block;
    margin: 0;
    margin-block: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
}

.guest-status {
    position: absolute;
    right: 20px;
    top: 20px;
}

.room-container {
    width: 50%;
    height: 86vh;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0px 10px;
    margin: 0 10px;
    border-radius: 25px;
    background-color: var(--color-three);
}

.room-container .difficulty-container {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.room-container .difficulty-container > * {
    padding: 10px 20px;
}

.room-container .difficulty-container h2 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--color-two);
    font-size: 1em;
    margin: 0;
    opacity: 0.5;
}

.room-container .difficulty-container span {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1em;
    width: 35%;
    display: block;
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 255, 0, 0.3);
    /* filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.7)); */
}

#room-input-guess {
    display: block;
    font-size: 1.2em;
    width: 50%;
}

.copy-link-container {
    order: 0;
    padding: 10px;
    align-self: center;
}

.copy-link-container div {
    width: fit-content;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 8px;
    overflow: hidden;
}

.copy-link-container div > * {
    padding: 8px;
}

.copy-link-container span {
    font-weight: bold;
}

.copy-link-container button {
    background-color: rgba(200, 200, 200, 0);
    border: 0;
    border-left: 1px solid rgb(128, 128, 128);
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.copy-link-container button:hover {
    background-color: rgba(200, 200, 200, 0.5);
}

.hide-blur {
    filter: blur(0.4rem);
}

.dropdown-input-container {
    position: relative;
    width: 80%;
    /* align-items: center; */
    display: flex;
    justify-content: center;
}

.dropdown-input-container > #title-input {
    width: 100% !important;
    font-size: 1.5rem;
}

.dropdown {
    position: absolute;
    background: none;
    min-height: 100%;
    width: 90%;
    left: 5%;
    top: 100%;
}

.dropdown ul {
    background-color: var(--color-two);
    width: 100%;
}

.chat-container {
    height: 86vh;
    width: 300px;
    padding: 0;
}

#chat {
    flex-grow: 1;
    background-color: var(--color-three);
    overflow-y: auto;
    flex-direction: column-reverse;
}

.chat-message {
    overflow-x: hidden;
}

.chat-message span {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#chat li {
    padding: 10px;
    /* overflow-anchor: none; */
    /* border-bottom: 1px solid gray; */
}

#chat ul {
    overflow-anchor: none;
}

#anchor {
    overflow-anchor: auto;
    height: 1px;
}

#chat h2 {
    font-size: 1.2em;
    color: rgb(128, 128, 128);
}

.chat-textbox-container {
    position: relative;
    min-height: 80px;
    padding: 8px;
}

.chat-textbox-container > span {
    position: absolute;
    opacity: 0.1;
    z-index: -999;
    transform: translate(-50%, -50%) scale(2.4);
    top: 55%;
    left: 50%;
}

textarea {
    font-size: 1em;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 4px;
    outline-width: 2px;
    padding: 5px;
    resize: none;
    z-index: 999;
}

textarea:focus + span {
    opacity: 0;
}