@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"), 
      url("./assets/fonts/Roboto/Roboto-Regular.ttf") 
      format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"), 
      url("./assets/fonts/Roboto/Roboto-Medium.ttf") 
      format("truetype");
}

:root {
  --color-one: rgb(20, 20, 20);
  --color-three: rgb(25, 25, 25);
  --color-two: rgb(50, 50, 50);
  --color-four: rgb(75, 75, 75);
}

* {
  box-sizing: content-box;
  font-family: "Roboto-Regular", "sans-serif";
}


body, #root {
  min-height: 100vh;
  /* overflow: hidden; */
  overflow-x: hidden;
  /* position: relative; */
}

body {
  background-color: var(--color-two);
  color: rgb(240, 240, 240);
  margin: 0;
}

header {
  min-height: fit-content;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  margin-top: 30px;
  /* position: absolute; */
  min-height: 100%;
  min-width: 100%;
  /* padding: 10px; */
  /* overflow: auto; */
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: var(--color-one);
  border-radius: 8px;
  padding: 25px;
}

.container h2 {
  font-size: 2.0em;
  margin-top: 0;
  margin-bottom: 0;
  /* text-align: center; */
}

.container h3 {
  font-size: 0.8em;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 0;
}

.container label {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

.container label + h3 {
  margin-bottom: 5px;
}

input[type="text"] {
  display: inline-block;
  font-size: 2.2em;
  color: white;
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 25px;
  border: 0px;
  padding: 5px 25px;
}

input[type="password"] {
  display: inline-block;
  font-size: 2.2em;
  color: white;
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 25px;
  border: 0px;
  padding: 5px 25px;
}

input[type="range"] {
  appearance: none;
  border-radius: 25px;
  background-color: transparent;
  outline: solid 1px rgb(128, 128, 128);
  width: 230px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: rgb(128, 128, 128);;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: white;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: rgb(128, 128, 128);;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-moz-range-thumb {
  background: white;
}

.btn {
  display: block;
  color: rgb(200, 200, 200);
  font-family: "Roboto-Regular";
  font-size: 1.2em;
  padding: 10px 16px;
  background-color: rgba(128, 128, 128, 0.3);
  border-radius: 25px;
  transition: 0.2s;
  border: 0px;
}

.btn:hover {
  color: rgb(240, 240, 240);
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}

.remove-ul-li-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.remove-ul-li-style li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  display: none;
  position: absolute;
  width: 350px;
  /* max-height: 500px; */
  animation: increase_height forwards 2s ease-out;
  z-index: 100;
}

.dropdown ul {
  background-color: var(--color-three);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  /* overflow: hidden; */
  overflow-y: auto;
  max-height: 250px;
  border: 0;
  font-size: 1.0em;
}

.dropdown ul li {
  padding: 10px;
  cursor: pointer;
  transition: 0.1s;
}

.dropdown ul li:hover {
  background-color: var(--color-four);
}

@keyframes increase_height {
  from { height: 0%; }
  to { height: 100%;}
}

.alert {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.1);
}

.alert span {
  margin-left: 25px;
  flex-grow: 1;
  word-wrap: break-word;
  white-space: normal;
}

.alert .icon-container {
  width: 50px;
  height: 50px;
  text-align: center;
}

.alert-success {
  border: 1px solid rgba(0, 185, 0, 0.5);
  background-color: rgba(0, 185, 0, 0.1);
}

.alert-success .icon-container {
  background-color: rgba(0, 185, 0, 0.5);
}

.alert-danger {
  border: 1px solid rgba(185, 0, 0, 0.5);
  background-color: rgba(185, 0, 0, 0.1);
}

.alert-danger .icon-container {
  background-color: rgba(185, 0, 0, 0.5);
}


.alert .icon-container svg {
  transform: translateY(50%) scale(1.5);
}