@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"), 
      url("./assets/fonts/Roboto/Roboto-Regular.ttf") 
      format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"), 
      url("./assets/fonts/Roboto/Roboto-Medium.ttf") 
      format("truetype");
}

/* :root {
  --color-one: rgb(20, 20, 20);
  --color-three: rgb(25, 25, 25);
  --color-two: rgb(50, 50, 50);
  --color-four: rgb(75, 75, 75);
  --bg-green: rgba(0, 255, 0, 0.3);
  --bg-green-hover: rgba(0, 255, 0, 0.5);
  --bg-crimsom: rgb(158, 26, 53);
} */

:root {
  --color-one: #08090a;
  --color-one-text: white;
  --color-two: #15171a;
  --color-two-text: white;
  --color-three: #24282d;
  --color-three-text: white;
  --color-four: #343a41;
  --color-four-text: white;
  --bg-green: #C2F261;
  --bg-green-hover: #c2f261e6;
  --bg-crimsom: #CC2936;
  --bg-crimsom-hover: #cc2937e0;
  --btn-primary-bg: #eaf6ff;
  --btn-primary-bg-hover: #eaf6ffe1;
  --btn-primary-bg-active: #c2cbd1e1;
  
  --bg-gradient-top-right: linear-gradient(45deg, rgba(8,9,10,1) 45%, rgba(94,116,56,1) 81%, rgba(194,242,97,1) 100%);
  --bg-gradient: linear-gradient(45deg, rgba(52,58,65,1) 0%, rgba(21,23,26,1) 33%, rgba(94,116,56,1) 69%, rgba(194,242,97,1) 100%);
}

.bg-gradient {
  background: rgb(52,58,65);
  background: linear-gradient(45deg, rgba(52,58,65,1) 0%, rgba(21,23,26,1) 33%, rgba(94,116,56,1) 69%, rgba(194,242,97,1) 100%);
}

* {
  box-sizing: content-box;
  font-family: "Roboto-Regular", "sans-serif";
}

html, body, #root {
  overflow-y: hidden;
  height: 100vh;
}

body {
  background-color: var(--color-two);
  color: rgb(240, 240, 240);
  margin: 0;
}

header {
  /* min-height: fit-content; */
  width: 100%;
  height: 61px;
}

main {
  display: flex;
  height: calc(100% - 61px);
  min-width: 100%;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: var(--color-one);
  border-radius: 8px;
  padding: 25px;
  position: relative;
}

.container::before  {
  content: "";
  opacity: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  margin: -27px;
  padding: 2px;
  position: absolute;
  background: var(--bg-gradient);
  z-index: -2 !important;
  transition: opacity 0.2s linear;
}

.container:hover::before {
  opacity: 1;
}

.container:focus-within::before {
  opacity: 0;
}

@keyframes go-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container h2 {
  font-size: 2.0em;
  margin-top: 0;
  margin-bottom: 0;
}

.container h3 {
  font-size: 0.8em;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 0;
}

.container label {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  user-select: none;
}

.container label + h3 {
  margin-bottom: 5px;
  user-select: none;
}

input[type="text"] {
  display: inline-block;
  font-size: 2.2em;
  color: white;
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 25px;
  border: 0px;
  padding: 5px 25px;
}

input[type="password"] {
  display: inline-block;
  font-size: 2.2em;
  color: white;
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 25px;
  border: 0px;
  padding: 5px 25px;
}

textarea {
  display: inline-block;
  font-size: 0.8em;
  color: white;
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 25px;
  border: 0px;
  padding: 5px 25px;
}

input[type="range"] {
  appearance: none;
  border-radius: 25px;
  background-color: transparent;
  outline: solid 1px rgb(128, 128, 128);
  width: 230px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  background: rgb(128, 128, 128);;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: white;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  background: rgb(128, 128, 128);;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]:hover::-moz-range-thumb {
  background: white;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgb(128, 128, 128);
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
  text-align: center;
  
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  opacity: 0;
  transition: 0.2s;
}

input[type="checkbox"]:hover::before {
  content: "";
  opacity: 0.3;
}

input[type="checkbox"]:checked::before {
  content: "";
  opacity: 1;
}

.btn {
  display: block;
  font-family: "Roboto-Regular";
  font-size: 1.2em;
  padding: 10px 16px;
  background-color: var(--btn-primary-bg);
  color: black;
  border-radius: 25px;
  transition: all 0.2s;
  border: 0px;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  transform: perspective(1px) translateZ(0);
}

.btn:hover {
  background-color: var(--btn-primary-bg-hover);
}

.btn:active {
  transform: scale(0.95);
  background-color: var(--btn-primary-bg-active);
}

.btn-green {
  background-color: var(--bg-green);
}

.btn-green:hover {
  background-color: var(--bg-green-hover);
}

.remove-ul-li-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.remove-ul-li-style li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alert {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.1);
}

.alert span {
  margin-left: 25px;
  flex-grow: 1;
  word-wrap: break-word;
  white-space: normal;
}

.alert .icon-container {
  width: 50px;
  height: 50px;
  text-align: center;
}

.alert-success {
  border: 1px solid rgba(0, 185, 0, 0.5);
  background-color: rgba(0, 185, 0, 0.1);
}

.alert-success .icon-container {
  background-color: rgba(0, 185, 0, 0.5);
}

.alert-danger {
  border: 1px solid rgba(185, 0, 0, 0.5);
  background-color: rgba(185, 0, 0, 0.1);
}

.alert-danger .icon-container {
  background-color: rgba(185, 0, 0, 0.5);
}


.alert .icon-container svg {
  transform: translateY(50%) scale(1.5);
}