@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: local("Roboto-Regular"), 
      url("./assets/fonts/Roboto/Roboto-Regular.ttf") 
      format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto-Light")
    url("./assets/fonts/Roboto/Roboto-Light.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto-Medium"), 
      url("./assets/fonts/Roboto/Roboto-Medium.ttf") 
      format("truetype");
}

/* :root {
  --color-one: rgb(20, 20, 20);
  --color-three: rgb(25, 25, 25);
  --color-two: rgb(50, 50, 50);
  --color-four: rgb(75, 75, 75);
  --bg-green: rgba(0, 255, 0, 0.3);
  --bg-green-hover: rgba(0, 255, 0, 0.5);
  --bg-crimsom: rgb(158, 26, 53);
} */

:root {
  --color-one: #08090a;
  --color-one-text: white;
  --color-two: #DCE1E9;
  --color-two-text: black;
  --color-two-shadow: #bfc9d1;
  --color-two-bg: rgba(84, 106, 118, 1);
  --color-three: #24282d;
  --color-three-text: white;
  --color-four: #343a41;
  --color-four-text: white;
  --bg-green: #32ce3f;
  --bg-green-hover: #19b126e5;
  --bg-crimsom: #CC2936;
  --bg-crimsom-hover: #cc2937e0;
  --btn-primary-bg: #798897;
  --btn-primary-bg-hover: #9aacbe;
  --btn-primary-bg-active: #84a8cc;

  --border-container: 1.5px solid var(--color-two-bg);
  --border-container-radius: 0px;
  --border-btn: 1px solid rgb(128, 128, 128);
  --border-btn-radius: 8px;

  --input-color: rgb(66, 66, 66);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  font-family: "Roboto-Regular", "sans-serif";
}

html, body, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--color-two);
  color: rgb(44, 44, 44);
}

footer {
  margin: 3.5rem auto;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.container {
  background-color: #e5eaef;
  border: 1.5px solid var(--color-two-bg);
  position: relative;
}

.inner-container {
  padding: 25px;
}

.container .header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 60px;
  width: 100%;
  background-color: #82D173;
  color: black;
  left: 0px;
  top: 0px;
}

.container::before  {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--color-two-bg);
  z-index: -2 !important;
  opacity: 0.4;
  transition: opacity 350ms linear, transform 0.2s ease-in-out;
  transform: translate(-5px, -5px);
  /* left: -10px;
  top: -10px; */
  /* border-radius: 8px; */
  /* padding: 2px; */
  /* margin: -27px; */
}

.container:hover::before {
  /* left: -10px;
  top: -10px; */
  transform: translate(-10px, -10px);
  opacity: 1;
}

.container:focus-within::before {
  /* left: -10px;
  top: -10px; */
  transform: translate(-10px, -10px);
  opacity: 1;
}

@keyframes go-down {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.container > .header-container > h2 {
  font-size: 2.0em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 25px;
  margin-right: 25px;
}

.container > .inner-container > h3 {
  font-size: 0.8em;
  opacity: 0.6;
  margin-top: 0;
  margin-bottom: 0;
}

.container > .inner-container label {
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;
}

.container > .inner-container > div > label {
  font-weight: 500;
}

.container > .inner-container > label:not(:first-child) {
  margin-top: 20px;
}

.container > .inner-container label + h3 {
  margin-bottom: 5px;
  user-select: none;
}

.tooltip:before {
  content: attr(data-text);
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  padding: 4px;
  text-align: center;
  display: none;
  font-weight: 500;
  z-index: 20;
  color: var(--input-color);
  background-color: rgb(212, 216, 223);
  border-radius: var(--border-btn-radius);
}

.tooltip:after {
  content: "";
  position: absolute;
  left:50%;
  margin-top:-25px;
  top:150%;
  transform: translate(-50%, -50%);
  border: 10px solid rgb(212, 216, 223);
  border-color: transparent transparent rgb(212, 216, 223) transparent;
  display: none;
}

.tooltip:hover:before, .tooltip:hover:after {
  display: block;
}

input[type="text"] {
  display: inline-block;
  font-size: 2.2em;
  color: var(--input-color);
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 8px;
  border: 0px;
  padding: 5px 25px;
}

input[type="password"] {
  display: inline-block;
  font-size: 2.2em;
  color: var(--input-color);
  /* color: rgb(128, 128, 128); */
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 8px;
  border: 0px;
  padding: 5px 25px;
}

textarea {
  display: inline-block;
  font-size: 0.8em;
  color: var(--input-color);
  /* color: rgb(128, 128, 128); */
  background: transparent;
  outline: solid 1px rgb(128, 128, 128);
  border-radius: 8px;
  border: 0px;
  padding: 5px 25px;
}

input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid rgb(128, 128, 128);
  cursor: pointer;
  margin: 0;
  margin-right: 10px;
  text-align: center;
  
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
  opacity: 0;
  transition: 0.2s;
}

input[type="checkbox"]:hover::before {
  content: "";
  opacity: 0.3;
}

input[type="checkbox"]:checked::before {
  content: "";
  opacity: 1;
}

.btn {
  display: block;
  font-family: "Roboto";
  font-size: 1.2em;
  padding: 10px 16px;
  background-color: transparent;
  color: black;
  border: 1px solid var(--color-three);
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  user-select: none;
  box-shadow: 0px 0px 0px var(--color-two-shadow);
}

.btn:hover {
  /* background-color: var(--btn-primary-bg-hover); */
  box-shadow: 0px 5px 5px var(--color-two-shadow);
  transform: translateY(-2px);
}

.btn:active {
  transform: scale(0.95);
  background-color: var(--btn-primary-bg-active);
}

.btn-green {
  background-color: var(--bg-green);
  color: white;
}

.btn-green:hover {
  background-color: var(--bg-green-hover);
}

.remove-ul-li-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.remove-ul-li-style li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.alert {
  display: flex;
  align-items: center;
  /* padding: 20px; */
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid rgb(128, 128, 128);
  background-color: rgba(128, 128, 128, 0.1);
}

.alert span {
  margin-left: 25px;
  flex-grow: 1;
  word-wrap: break-word;
  white-space: normal;
}

.alert .icon-container {
  width: 50px;
  height: 50px;
  text-align: center;
}

.alert-success {
  border: 1px solid rgba(0, 185, 0, 0.5);
  background-color: rgba(0, 185, 0, 0.1);
}

.alert-success .icon-container {
  background-color: rgba(0, 185, 0, 0.5);
}

.alert-danger {
  border: 1px solid rgba(185, 0, 0, 0.5);
  background-color: rgba(185, 0, 0, 0.1);
}

.alert-danger .icon-container {
  background-color: rgba(185, 0, 0, 0.5);
}


.alert .icon-container svg {
  transform: translateY(50%) scale(1.5);
}