#audio-ui {
    z-index: 10;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: var(--bx-shadow);
    border-radius: var(--border-radius);
    background-color: var(--background-color);
    padding: 8px;
}

#audio-ui > .progress-wrapper {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

#audio-ui > .progress-wrapper > .progress-bar {
    background: rgb(85, 85, 85);
    width: 100%;
    height: 4px;
}

#audio-ui > .progress-wrapper > .progress-value {
    background: black;
    width: 4px;
    height: 15px;
    position: absolute;
    left: 0%;
}

#audio-ui > .volume-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: var(--border-btn-radius);
    transition: background-color 200ms linear;
    z-index: 10;
}

#audio-ui > .volume-wrapper > .hidden-volume {
    position: absolute;
    display: flex;
    top: calc(140px * -1);
    width: 100%;
    height: 140px;
    overflow: hidden;
    pointer-events: none;
}

#audio-ui .volume-values-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5px;
    /* top: 24px; */
    width: 100%;
    padding: 8px 0px;
    padding-bottom: 12px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    /* background-color: #bec0c2; */
    background-color: var(--container-color);
    transform: translateY(140px);
    transition: transform 500ms ease-out;
    pointer-events: all;
}

#audio-ui > .volume-wrapper:hover .volume-values-wrapper {
    transform: translateY(0px);
}

#audio-ui > .volume-wrapper:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

#audio-ui button {
    height: 35px;
    width: 35px;
    display: grid;
    place-content: center;
    background-color: #dadfe4;
    border: none;
    border-radius: var(--border-radius);
    transition: background-color 100ms linear;
    cursor: pointer;
    z-index: 10;
}

#audio-ui button:hover {
    background-color: #c1c6ca;
}

#audio-ui button:disabled, button[disabled] {
    opacity: 0.4;
    background-color: transparent;
    cursor: default;
}

#audio-ui .loading {
    animation: 2s linear 0s infinite loading-buffering;
}

@keyframes loading-buffering {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

#audio-ui > audio {
    display: none;
}