#chat {
    position: relative;
    flex-grow: 1;
    margin-bottom: 10px;
}

.messages-list {
    margin-top: 10px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 400px;
    overscroll-behavior-y: contain;
    scroll-snap-type: y proximity;
}

.messages-list > li:nth-last-child(1) {
    scroll-snap-align: end;
}

.chat-message .tooltip {
    cursor: pointer;
}

.chat-message .tooltip:before {
    top: -50%;
    background-color: var(--input-background-active);
}

.chat-message .tooltip::after {
    content: none;
}

.chat-message > span > span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 3px;
}

.chat-message .message-token {
    max-width: 255px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chat-message .emote-token {
    margin: 0px 2px;
}

#chat li {
    padding: 10px;
}

.messages-list::-webkit-scrollbar {
    width: 10px;
}

.messages-list::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(0, 0, 0, 0.05);
}

.messages-list::-webkit-scrollbar-track:hover {
    background: var(--input-background-active);
}

.messages-list::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 50px;
}

.messages-list::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0, 0.2);
}

/* #anchor {
    overflow-anchor: auto;
    min-height: 1px;
} */

#chat > .chat-header {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
    box-shadow: var(--bx-shadow);
    border-radius: var(--border-radius);
    padding: 8px 0;
    font-weight: bold;
}

#chat h2 {
    font-size: 1.2em;
    margin: 0;
    color: var(--text-faded-color);
}