.guest-info {
    position: relative;
    margin: 0px 0px;
    padding: 10px;
    flex-grow: 1;
    background: rgba(0, 0, 0, 0);
    background-size: 80%;
    transition: background-size 0.275s ease-out;
    -webkit-transition: background-size 0.275s ease-out;
}

.guest-info div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.guest-info h3 {
    display: inline-block;
    margin: 0;
    margin-block: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
}

.guest-status {
    position: absolute;
    right: 20px;
    top: 20px;
}

.guest-correct {
    background-size: 100%;
    animation: correct-animation forwards normal 0.275s;
}

.guest-wrong {
    background-size: 100%;
    animation: wrong-animation forwards normal 0.275s;
}

@keyframes correct-animation {
    from { 
        background-color: rgba(0, 0, 0, 0);
    }
    to { 
        background-color: var(--bg-green);
    }
}

@keyframes wrong-animation {
    from { 
        background-color: rgba(0, 0, 0, 0);
    }
    to { 
        background-color: var(--bg-crimsom);
    }
}
