@keyframes increase_height {
    from { max-height: 0px; }
    to { max-height: 250px; }
}

.dropdown {
    display: none;
    position: absolute;
    width: 350px;
    z-index: 100;
    height: auto;
    max-height: 0px;
    overflow-y: auto;
    animation: increase_height normal forwards 0.4s ease-out;
}

.dropdown ul {
    position: relative;
    background-color: var(--color-two);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow-y: auto;
    border: 0;
    font-size: 1.0em;
}

.dropdown ul li {
    padding: 10px;
    cursor: pointer;
    transition: 0.1s;
    text-align: left;
}

.dropdown ul li:hover {
    background-color: var(--color-four);
}