#notification-wrapper {
    position: fixed;
    transform: translate(-50%, 50%);
    left: 50%;
    bottom: -20px;
}

#notification-wrapper > .notification {
    position: absolute;
    min-width: 300px;
    height: 41px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification {
    padding: 6px;
    border-radius: var(--border-btn-radius);
    color: white;
    background-color: #009C58;
    scale: 100%;
    transition: background-color 200ms linear;
    box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.2);
}

.notification:hover {
    background-color: #008149;
}

.notification > .btn {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    outline: none;
    border: none;
    padding: 6px;
    align-self: center;
    transition: transform 100ms ease-out;
    transform: scale(1.01);
}

.notification > .btn:hover {
    box-shadow: none;
    transform: scale(1.11);
}

.notification:hover > .btn {
    background-color: rgba(0, 0, 0, 0.2);
}

#notification-wrapper > .notification > span {
    user-select: none;
    flex-grow: 1;
    text-align: center;
    font-size: 1.2rem;
}